.card {
  background-color: var(--color-white);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-4);
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  gap: var(--spacing-1);
  transition: transform var(--transition-fast);
  /* box-shadow var(--transition-fast); */
  /* max-width: 80%; */
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.iconContainer {
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.pink {
  background-color: var(--color-pink-light);
  color: var(--color-pink);
}
.card .pink {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.orange {
  background-color: var(--color-orange-light);
  color: var(--color-orange);
}

.card .orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.green {
  background-color: var(--color-green-light);
  color: var(--color-green);
}
.card .green {
  background-color: var(--color-green);
  color: var(--color-white);
}

.purple {
  background-color: var(--color-purple-light);
  color: var(--color-purple);
}
.card .purple {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.lime {
  background-color: var(--color-lime-light);
  color: var(--color-lime);
}
.card .lime {
  background-color: var(--color-lime);
  color: var(--color-white);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
  margin-bottom: var(--spacing-1);
  white-space: normal;
  max-width: 80%;
}

.value {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-900);
  margin-bottom: var(--spacing-1);
}

.change {
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-1);
  color: var(--color-gray-600);
}

.positive {
  color: var(--color-primary-500);
}

.negative {
  color: var(--color-error);
}

@media (max-width: 768px) {
  .card {
    padding: var(--spacing-3);
    flex-direction: column;
    align-items: flex-start;
  }

  .iconContainer {
    margin-bottom: var(--spacing-2);
  }
}
