.container {
  background-color: var(--color-white);
  padding: var(--spacing-6);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: var(--spacing-4);
}

.header {
  margin-bottom: var(--spacing-2);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-900);
}

.container span {
  align-self: center;
}
