.tabs {
  background-color: var(--color-white);
  border-radius: var(--border-radius-xl);
  padding: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  box-shadow: var(--shadow-sm);
}

.tabsHeader {
  margin-bottom: var(--spacing-4);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-900);
}

.tabsList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: var(--spacing-4);
  background-color: #f6f7f2;
  border-radius: var(--border-radius-xl);
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-300) transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  align-items: stretch;

  width: fit-content;
  max-width: 100%;
  height: 150px;
}

.tabsList::-webkit-scrollbar {
  height: 4px;
}

.tabsList::-webkit-scrollbar-track {
  background: transparent;
}

.tabsList::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-300);
  border-radius: var(--border-radius-full);
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  width: 150px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: var(--spacing-3);
  border-radius: var(--border-radius-xl);
  cursor: pointer;
  transition: all var(--transition-fast);
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.tab:hover {
  background-color: var(--color-gray-100);
}

.tab.active {
  background-color: #cbdec1;
  color: var(--color-green);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background-color: var(--color-primary-500);
  transition: width var(--transition-fast) ease-out;
}

.tab:not(.active)::after {
  width: 0;
}

.tabIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-gray-200);
  border-radius: var(--border-radius-full);
  color: var(--color-gray-400);
}

.active .tabIcon {
  background-color: var(--color-white);
}

.tab.active .tabIcon {
  color: #5a9632;
}

.tabName {
  font-size: var(--font-size-xs);
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  /* line-height: 1.3; */
}

.active .tabName {
  color: #5a9632;
  transition: var(--transition-fast);
  font-weight: var(--font-weight-semibold);
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.filterButton {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-3);
  background-color: var(--color-primary-600);
  color: var(--color-white);
  border-radius: var(--border-radius-full);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  transition: background-color var(--transition-fast);
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-xl);
}

.filterButton:hover {
  background-color: var(--color-primary-700);
}

.dropdownArrow {
  margin-left: var(--spacing-1);
  transition: transform var(--transition-fast) ease-out;
  font-weight: var(--font-weight-bold);
}

.dropdownArrow.open {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);
  min-width: 150px;
  z-index: var(--z-index-dropdown);
  margin-top: var(--spacing-1);
  overflow: hidden;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  color: var(--color-gray-700);
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: var(--font-size-sm);
  transition: background-color var(--transition-fast),
    color var(--transition-fast);
}

.dropdownItem:hover {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}

@media (max-width: 768px) {
  .tabsList {
    gap: var(--spacing-2);
  }

  .tab {
    width: 90px;
    padding: var(--spacing-2);
  }

  .tabIcon {
    width: 30px;
    height: 30px;
  }
}
