.statsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-6);
}

.statCard {
  display: flex;
  align-items: flex-start;
  padding: var(--spacing-4) var(--spacing-5);
  border-radius: var(--border-radius-xl);
  gap: var(--spacing-3);
}

.purpleCard {
  background-color: var(--color-pink-light);
}

.greenCard {
  background-color: var(--color-green-light);
}

.orangeCard {
  background-color: var(--color-orange-light);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon {
  color: var(--color-primary-600);
}

.statContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.statValue {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-700);
  line-height: 1.2;
}

.statLabel {
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  /* line-height: 1.2; */
}

@media (max-width: 1200px) {
  .statsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-3);
  }
}

@media (max-width: 576px) {
  .statsContainer {
    grid-template-columns: 1fr;
    gap: var(--spacing-3);
  }

  .statCard {
    padding: var(--spacing-3) var(--spacing-4);
  }
}
